Django==1.2.4
PIL==1.1.7
Whoosh==1.4.1
django-debug-toolbar==0.8.4
django-extensions==0.6
django-haystack==1.1.0
django-imagekit==0.3.3
django-sortedm2m==0.3.2
feedparser==4.1
httplib2==0.6.0
oauth2==1.2.0
python-dateutil==1.5
python-twitter==0.8.1
simplejson==2.1.2
virtualenv==1.5.1
virtualenvwrapper==2.6.1
wsgiref==0.1.2
