{% extends "mockup.html" %}

{% block youtube %}
    <!--<object width="470" height="385"><param name="movie" value="http://www.youtube.com/v/-ysTZ4TaCmQ&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/-ysTZ4TaCmQ&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="470" height="385"></embed></object>-->
<!--	
	<object width="470" height="385"><param name="movie" value="http://www.youtube.com/v/c6jABdXe5P8?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/c6jABdXe5P8?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="470" height="385"></embed></object> -->

<!-- <object width="470" height="385"><param name="movie" value="http://www.youtube.com/v/SaLku4I9AA0?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/SaLku4I9AA0?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="470" height="385"></embed></object> -->

<iframe width="470" height="383" src="http://www.youtube.com/embed/2A6KOxqLb-M" frameborder="0" allowfullscreen></iframe>
<!-- <iframe title="YouTube video player" width="470" height="383" src="http://www.youtube.com/embed/X8_rrQEITaA" frameborder="0" allowfullscreen></iframe>
-->

    <!--  include "inc/youtube.html"  -->
{% endblock %}


{% block news %}
   {% if news %}
   <div class="news">
   	<h2>News</h2>
   	{% for n in news %}
	    {% if n.display_title %}
		<h3>{{ n.title }}</h3>
	    {% endif %}
	    {{ n.body|safe }}
	{% endfor %}
   </div>
   {% endif %}
{% endblock %}


{% block member %}
    {% if member %}
        {% if member.display.url %}
        <a href="{{member.get_absolute_url}}">
            <img src="{{member.thumb.url}}" alt="{{member.withinstrument}}"/>
        </a>
        {% endif %}
        <p class="member">{{ member.fullmember }}</p>
        <!--  member.bio|safe|truncatewords_html:120 -->
        <p><a href="{{ member.get_absolute_url }}">Read more about {{member.first_name}} {{member.middle_name}}...</a></p>
        <p><a href="/members/">Meet more of the orchestra musicians...</a></p>
    {% else %}
        <p>No members found. Please add some members.</p>
    {% endif %}
{% endblock %}

{% block concert %}
    {% if primary_event.date %}
    <div class="primary">
        <div class="image">
                {%comment%}{% if primary_event.thumb.url %}                
                    <img src="/{{primary_event.thumb.url}}" class="event_img" alt="event image"/>
                
                    {% else %}
                    {% endcomment %}


                    <!-- this is so ugly, have to fix this ASAP!  -->
                    {% if primary_event.pieces.all %}
                        {% for p in primary_event.pieces.all %}
                            {% for s in p.soloist.all %}
                                {% if s.display.url and s.instrument != 'composer' %}
                                    <a href="{{s.get_absolute_url}}"><img src="/{{s.display.url}}" class="event_img" alt="{{s}}"/></a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}                     
                    {% endif %} 

                    {% if primary_event.soloists.all %}
                        {% for s in primary_event.soloists.all %}
                            {% if s.display.url and s.instrument != 'composer' %} 
                                <a href="{{s.get_absolute_url}}"><img src="/{{s.display.url}}" class="event_img" alt="{{s}}"/></a>              
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if primary_event.image %}
                        <a href="{{primary_event.season.get_absolute_url}}#{{primary_event.slug}}"><img src="/{{primary_event.display.url}}" class="event_img" alt="{{primary_event}}"/></a>
                    {% endif %}
                {%comment%} {% endif %} {% endcomment %}
            </div>
            <div class="description">
                <h2><a href="{{primary_event.season.get_absolute_url}}#{{primary_event.slug}}">{{primary_event.name}}</a></h2>
                <div>{{ primary_event.date|date:"l, F j, Y" }}</div>
                
                <div>{{ primary_event.date|date:"g:i a" }}{%if primary_event.alt_time%} &amp; {{primary_event.alt_time|time:"g:i a"}}{%endif%}, 
                
                <a href="{{primary_event.location.get_absolute_url}}">{{primary_event.location}}</a></div>
                <div class="conductor">Jason Love, conductor</div>
                {{ primary_event.description|safe }}
               
                <!-- <p>Hsiu-Hui Wang’s appearance is sponsored by <a href="http://www.hcgh.org/content/" target="co_link">Howard County General Hospital</a>.</p> -->

                {% if primary_event.preconcert_discussion %}
                {% with primary_event.preconcert_discussion as e %}
                    <p class="preconcert">Join {{e.speaker}} for a fun, fascinating pre-concert discussion at 
                    {{e.time|time:"g:i a"}} 
                    in the 
                    {{e.talk_location}}.</p>
                    {% if e.sponsor %}
                        <p>The <a href="/preludes/">prelude series</a> is brought to you by {{e.sponsor}}.</p>
                    {% endif %}
                    </p>
                {% endwith %}
                {% endif %}
<!--
				<p class="tickets">For advance tickets, please <a href="/tickets/">visit our Tickets page</a>. Tickets will also be available at the door.</p>
-->

            </div>   

    </div>
    {% else %}
        {% if season %}
        <div class="hp_season">
            <h2>Presenting the {{season}}</h2>
            <div class="image">
                <img src="/site_media/photo.png"/>
            </div>
            <div class="description">
            <ul class="concert">
            {% for e in season.event_set.all %}
                <li><a href="{{season.get_absolute_url}}#{{e.slug}}">{{e.name}}</a> &mdash; <em>{{e.date|date:"l, F j, Y"}}</em></li>
            {% endfor %}
            </ul>
            <p>Explore our full <a href="/season/">{{season}}</a> to see all of the exciting details!</p>
            </div>
        </div>
        {% endif %}
    {% endif %}
    
  
    {% if secondary_event.date %}
        <div class="secondary">
            <div class="description">
                <h2>{{secondary_event.name}}</h2>
                <div>{{ secondary_event.date|date:"l, F j, Y" }}</div>
                <div>{{ secondary_event.date|date:"g:i a" }}, <a href="{{secondary_event.location.get_absolute_url}}">{{secondary_event.location}}</a></div>
                {{ secondary_event.description|safe }}
            </div>

            <div class="image">
				<!-- this is so ugly, have to fix this ASAP!  -->
	            {% if secondary_event.pieces.all %}
	                {% for p in secondary_event.pieces.all %}
	                    {% for s in p.soloist.all %}
	                        {% if s.display.url and s.instrument != 'composer' %}
	                            <a href="{{s.get_absolute_url}}"><img src="/{{s.display.url}}" class="event_img" alt="{{s}}"/></a>
	                        {% endif %}
	                    {% endfor %}
	                {% endfor %}                     
	            {% endif %} 

	            {% if secondary_event.soloists.all %}
	                {% for s in secondary_event.soloists.all %}
	                    {% if s.display.url and s.instrument != 'composer' %} 
	                        <a href="{{s.get_absolute_url}}"><img src="/{{s.display.url}}" class="event_img" alt="{{s}}"/></a>              
	                    {% endif %}
	                {% endfor %}
	            {% endif %}

	            {% if secondary_event.image %}
	                <a href="{{secondary_event.season.get_absolute_url}}#{{secondary_event.slug}}"><img src="/{{secondary_event.display.url}}" class="event_img" alt="{{secondary_event}}"/></a>
	            {% endif %}
			</div>
        </div>
    {% else %}
        {%comment%}<p>No events found. Please add an event.</p>{%endcomment%}
    {% endif %}
    

        
    {% endblock %}
