{% extends 'mockup.html' %}

{% block header_extra %}
<script type="text/javascript" src="/site_media/jquery.cycle.lite.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.image').cycle({
            fx: 'fade', containerResize: 1, timeout: 7000
        });
     });
</script>
<link rel="stylesheet" href="/site_media/new/home.css"/>
{% endblock %}


{% block content %}
<div class="content_inner">

<div class="image">

    <div class="poster">
    <img src="/site_media/new/Oct2012_PosterAttempt_6.png"/>
    <a class="clickhere" href="/season/events/bernstein-and-beethoven/"><!--more details--></a>
    </div>
    <div class="poster">
    <img src="/site_media/new/Dec2012_PosterAttempt_3.png"/>
    <a class="clickhere" href="/season/events/tchaikovsky-and-rachmaninoff/"><!--more details--></a>
    </div>
    <div class="poster">
    <img src="/site_media/new/Chamber Concert 2.png"/>
    <a class="clickhere" href="/season/events/chamber-concert-one-2012-13/"><!--more details--></a>
    </div>
    
</div> <!-- image -->


<div class="COmemberwrap">
<div class="COmember">
	<h1>Meet the Orchestra</h1>
    {% if member %}
        {% if member.display.url %}
	<a href="{{member.get_absolute_url}}"><div class="photo">
        <img src="{{member.thumb.url}}" alt="{{member.withinstrument}}"/>
    </div></a>
        {% endif %}
<!--
	<p class="member"> {{member.fullmember}}</p>
	<p><a href="{{member.get_absolute_url}}">Read more about {{member.first_name}} {{member.middle_name}}...</a></p>
-->
	<p class="member"> <a href="{{member.get_absolute_url}}">{{member.fullmember}}</a></p>
	<p><a href="/members/">Meet more of the orchestra musicians...</a></p>
    {% else %}
    <p>No members found. Please add some members.</p>
    {% endif %}
</div>
</div>

</div> <!-- content_inner -->

{% endblock %}
