{% extends 'mockup2.html' %}

{% block title %}
Event Locations
{% endblock %}

{% block content %}
<div class="content">
	<h2>Event Locations</h2>
	{% for location in locations %}
	<div class="location">
		<h3>{{ location.name }}</h3>
		<div class="vcard">
			<div class="street-address">{{ location.address }}</div>
			<span class="locality">{{ location.city }}</span> <span class="region">{{ location.state }}</span>, <span class="postal-code">{{ location.zip }}</span>
			<br/>
		<a href="{{ location.url }}" target="_blank">Google Maps directions to {{ location.name }}</a>
		{% if location.alt_url %}
		<br/>
			<a href="{{ location.alt_url }}" target="_blank">Website directions</a>
		{% endif %}
		</div>
	</div>
	{% endfor %}

    <!-- horrible hack, remove ASAP !!! -->
	<div class="location">
		<h3>Reid Temple AME</h3>
		<div class="vcard">
			<div class="street-address">11400 Glenn Dale Boulevard</div>
			<span class="locality">Glenn Dale</span> <span class="region">Maryland</span>, <span class="postal-code">20769</span>
			<br/>
		<a href="http://maps.google.com/maps?q=11400+Glenn+Dale+Boulevard,+Glenn+Dale,+Maryland+20769&hl=en&sll=39.027719,-76.843872&sspn=0.244836,0.529404&vpsrc=0&hnear=11400+Glenn+Dale+Blvd,+Glenn+Dale,+Maryland+20769&t=m&z=16" target="_blank">Google Maps directions to Reid Temple AME</a>
		<br/>
			<a href="http://www.reidtemple.org/pages/page.asp?page_id=129620" target="_blank">Website directions</a>
		</div>
	</div>
    <!-- end of horrible hack -->
	
	<h3>Free Senior Transportation</h3>
<p>The Columbia Senior Transportation Service, funded by the Columbia Association, provides free door-to-door transportation to concerts and other events via URTA vans and mini-buses. Telephone your request 24 hours in advance of the concert. If you need a wheelchair lift, please mention this when you call. To request a ride or get information, please call 410-715-3087.</p>
</div>
{% endblock %}
