{% extends 'mockup2.html' %}

{% block title %}
Event Locations
{% endblock %}

{% block content %}
<div class="content">
	<h2>Event Locations</h2>
	{% for location in locations %}
	<div class="location">
		<h3>{{ location.name }}</h3>
		<div class="vcard">
			<div class="street-address">{{ location.address }}</div>
			<span class="locality">{{ location.city }}</span> <span class="region">{{ location.state }}</span>, <span class="postal-code">{{ location.zip }}</span>
			<br/>
		<a href="{{ location.url }}" target="_blank">Google Maps directions to {{ location.name }}</a>
		{% if location.alt_url %}
		<br/>
			<a href="{{ location.alt_url }}" target="_blank">Website directions</a>
		{% endif %}
		</div>
	</div>
	{% endfor %}

	<h3>Free Senior Transportation</h3>
<p>The Columbia Senior Transportation Service, funded by the Columbia Association, provides free door-to-door transportation to concerts and other events via URTA vans and mini-buses. Telephone your request 24 hours in advance of the concert. If you need a wheelchair lift, please mention this when you call. To request a ride or get information, please call 410-715-3087.</p>

    <h3>Rehearsal Location</h3>
    <p>Most orchestra rehearsals take place at The Gathering Place in 
    Clarksville:</p>
	<div class="location">
		<div class="vcard">
			<div class="street-address">6120 Daylong Ln</div>
			<span class="locality">Clarksville</span> <span class="region">Maryland</span>, <span class="postal-code">21029</span>
			<br/>
		<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=6120+Daylong+Lane+21029&sll=37.0625,-95.677068&sspn=34.259599,79.013672&ie=UTF8&hq=&hnear=6120+Daylong+Ln,+Clarksville,+Howard,+Maryland+21029&z=16" target="_blank">Google Maps directions to The Gathering Place</a>
		<br/>
			<a href="http://www.thegatheringplace.tv/directions.shtml" target="_blank">Website directions</a>
		</div>
	</div>
</div>
{% endblock %}
