{% extends "mockup2.html" %}

{% block title %}
{{member.withinstrument}}
{% endblock %}

{% block content %}
<div class="content">
    <div class="member_detail">
    	<h2>{{ member.withinstrument }}</h2>
    
        <!-- need to fix this, but I'll need to mess with imagekit -->
    	{% if member.display.url != 'model_imgs/_display.'%}
    	   <img src="/{{member.display.url}}" alt="{{member}}"/>
    	{% endif %}
    	
    	{{ member.bio|safe }}

        <p>
            <a href="/members/">Meet more of the orchestra...</a>
        </p>
	</div>
</div>
{% endblock %}
