{% extends "mockup.html" %}

{% block title %}{{member.withinstrument}} -{% endblock %}

{% block header_extra %}
<style type="text/css">
.content img {
margin-right: 20px;
margin-bottom: 20px;
float: left;
}
</style>
{% endblock %}

{% block content %}
    <div class="member_detail">
    	<h2>{{ member.withinstrument }}</h2>
    
        <!-- need to fix this, but I'll need to mess with imagekit -->
    	{% if member.display.url != 'model_imgs/_display.'%}
    	   <img src="/{{member.display.url}}" alt="{{member}}"/>
    	{% endif %}
    	
    	{{ member.bio|safe }}

        <p>
            <a href="/members/">Meet more of the orchestra...</a>
        </p>
	</div>

	<div style="clear: both;">
{% endblock %}
