{% extends 'mockup2.html' %}

{% block title %}{{ seasonname }}{% endblock %}

{% block content %}
<div class="content">
    {% if seasonname %}
        <h2>{{ seasonname }}</h2>
        <div class="vcalendar">
        
            {% if events %}
            {% for event in events %}
            <div class="vevent" id="{{event.slug}}">



                <h4 class="summary">{{ event.name }}</h4>

                    <!-- this is so ugly, have to fix this ASAP!  -->
                    {% if event.pieces.all %}
                        {% for p in event.pieces.all %}
                            {% for s in p.soloist.all %}
                                {% if s.thumb.url %}
                                    <a href="{{s.get_absolute_url}}"><img src="/{{s.thumb.url}}" class="event_img" alt="{{s}}"/></a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}                     
                    {% endif %}
                    
                    {% if event.soloists %}
                        {% for s in event.soloists.all %}
                            <a href="{{s.get_absolute_url}}"><img src="/{{s.thumb.url}}" class="event_img" alt="{{s}}"/></a>
                        {% endfor %}
                    {% endif %}


                    

                <p class="dtstart" title='{{ event.date|date:"Y-m-d\TH:i:s" }}-05:00'>{{ event.date|date:"l, F j, Y" }} - 
                {{ event.date|date:"g:i a" }}
                {% if event.alt_time %}
                    &amp; {{event.alt_time|time:"g:i a"}}
		        {% endif %}
		        </p>
                {% if event.alt_date %}
			        <p class="rdate" title='{{ event.alt_date|date:"Y-m-d\TH:i:s" }}-05:00'>
			        {{ event.alt_date|date:"l, F j, Y" }} - {{event.alt_date|date:"g:i a"}}
			        </p>
		        {% endif %}
                <p class="location"><a href="{{ event.location.get_absolute_url }}">{{ event.location }}</a></p>
                {% if event.ticket_link %}
                <p class="tickets"><a href="{{ event.ticket_link }}">Click here to purchase tickets</a></p>
                {% endif %}

                <div class="concert_soloists">
                {% if event.soloists %}
                    {% for s in event.soloists.all %}
                    <div><a href="{{s.get_absolute_url}}">{{s.with_instrument}}</a></div>
                    {% endfor %}
                {% endif %}

                {% if event.pieces.all %}
                    {% for p in event.pieces.all %}
                        {% if p.soloist %}
                            {% for s in p.soloist.all %}
                                <div><a href="{{s.get_absolute_url}}">{{ s.with_instrument}}</a></div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>

                {% if event.pieces.all %}
                    <div class="program">
                    {% for p in event.pieces.all %}
                    <div class="piece"> 
                        {{p.disp}} 
                    </div>
                    {% endfor %}
                    </div>
                {% endif %}

                {% if event.description %}
                    {{ event.description|safe }}
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            
       </div>
    {% else %}
        <h2>No Seasons Found</h2>
        <p>Unable to find the current season. Please contact the adminstrator.</p>
    {% endif %}
    <p><em>Events and performers are subject to change.</em></p>
</div>
{% endblock %}

