{% extends 'mockup2.html' %}

{% block title %}{{ soloist.name }}, {{ soloist.instrument }} - Guest Artist{% endblock %}

{% block content %}
<div class="content soloist_detail">
    <h2>{{ soloist.name }} {{ soloist.instrument }}</h2>
    
    {% for p in pieces %}
        <p>{{p.pretty}}</p>
    {% endfor %}

    <p>
    {% for event in events %}
    	<a href="{{ event.season.get_absolute_url }}">{{ event.name }}</a>, {{ event.date|date:"l, F j, Y" }}
    {% endfor %}
    </p>
    
    
    
    {% if soloist.display %}
    	<img src="/{{ soloist.display.url }}" alt="{{ soloist.name }}"/>
    {% endif %}
    
    {{ soloist.bio|safe }}
</div>
{% endblock %}
