{% extends 'mockup2.html' %}

{% block title %}Artists {%endblock %}

{% block content %}
<div class="content">
	<h2>Guest Artists &mdash; {{ season.name }}</h2>
	{% if soloists %}
	{% for soloist in soloists %}
	<div class="soloist">
	    {% if soloist.image %}
        <a href="{{soloist.get_absolute_url}}"><img src="/{{ soloist.thumb.url }}" alt="{{ soloist.name }}"/></a>
        {% endif %}
        
		<h3><a href="{{ soloist.get_absolute_url }}">{{ soloist.name }}</a>, 
		{{ soloist.instrument }}</h3>
		<p>

        <!--  TODO this REALLY needs to be removed -->
		{% if soloist.work %}
		  {{ soloist.work }}<br/>
		{% endif %}
        <!-- Concert:
        {{events}}

		{% for e in soloist.event_set.all %}
		   <a href="{{e.get_absolute_url}}">{{ e.name }}</a>, {{e.date|date:"l, F jS Y"}} 
		{% endfor %}
		</p>
	</div>
	{% endfor %}
	{% else %}
		<p>No soloists found for the current season.</p>
	{% endif %}
</div>
{% endblock %}
