    <div class="footer">
        <div class="col">
            <h2 class="footerlogo">
                <span class="offscreen">Additional Info</span>
            </h2>
        </div>
        <div class="col">
            <p class="address vcard">
            <span class="fn url newdomain"><a href="/">The Columbia Orchestra</a></span>
            <br/>
            <span class="loc">Howard County Center for the Arts</span><br/>
            <span class="street-address">8510 High Ridge Road</span><br/>
            <span class="locality">Ellicott City</span>, <span class="region">MD</span> <span class="postal-code">21043</span>
            </p>
            <p>
                Phone: 410-465-8777<br/>
                Fax: 410-465-8778
            </p>
        </div>
        <div class="col">
        <h3>Shop</h3>

        <a href="http://www.amazon.com/exec/obidos/redirect-home/columbiaorche-20"><img src="/images/amazon.png" class="amazon"></a>
       </div>
        <div class="col last">
            <h3>For Members</h3>
            <ul>
                <li><a href="/member_schedule/">Schedule</a></li>
                <li><a href="/locations/">Locations</a></li>
                <li><a href="/stuff_from_jason/">Stuff from Jason</a></li>
                <li><a href="http://www.flickr.com/photos/columbiaorchestra/">Photos of the Orchestra</a></li>
            </ul>
        </div>
    </div>
